html {
  font-family: Georgia, serif;
  background-color: #ffe500;
  box-sizing: border-box;
  line-height: 1.5;
  list-style-type: none;
}

*, *::before, *::after {
  box-sizing: inherit;
}

h1 {
  color: #b20953;
  display: block;
  font-family: "Sigmar One", cursive;
  font-size: 3rem;
  margin: 0 0 0.2em;
  list-style-type: none;
  text-align: center;
}

h2 {
  color: #b20953;
  display: block;
  font-family: "Sigmar One", cursive;
  font-size: 1.875rem;
  margin: 0.5em 0.0em;
  list-style-type: none;
  text-align: left;
}

body {
  margin: 0;
}

p {
  text-align: left;
  font-size: 1rem;
  color: #2f2d13;
}

i {
  text-align: center;
}

section {
  border: 0;
  background-color: #fff;
  margin: 0em;
  padding: 0.5em;
  font-size: 1.125rem;
}

nav {
  display: inline;
  list-style-type: none;
  text-align: center;
}

ul {
  font-size: 1.125rem;
  margin: 0.3em 0em;
  padding: 0;
}

li {
  margin: 0.3em 0em;
  display: inline-block;
  padding: 0;
}

a {
  display: inline-block;
  color: #fff;
  background-color: #b2a212;
  text-decoration: none;
  padding: 0.2em 0.5em 0.3em;
  margin: 0em;
  border-radius: 4px;
}

a:hover {
  text-decoration: none;
  background-color: #cc1465;
}

.current {
  background-color: #b20953;
}

img {
  width: 100%;
  display: block;
}

footer {
  text-align: center;
  color: #2f2d13;
}
